
<div id="divLogo">
    <img id="logo" src="../../../assets/imagenes/logoPolitecnianos.png">
</div>

<div id="inicioSesion">
    <div class="divInput">
        <p class="textos">Ingrese su mail</p>
        <input type="email" class="form-control" class="inputSesion" placeholder="Introduzca su mail">
    </div>
    <div class="divInput">
        <p class="textos">Ingrese su contraseña</p>
        <input type="password" class="form-control" class="inputSesion" placeholder="Introduzca su contraseña">
    </div>
</div>

<div id="botonDiv">
    <button id="btnLogin" routerLink="/inicio">Ingresar</button>
</div>
<div id="registro">
    <p id="leyendaRegistro">¿No tenés cuenta? <a routerLink ="/signIn">¡Registrate ahora!</a></p>
</div>

