#logo{
    height: 5%;
    width: 20%;
}

#divLogo{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10% ;
}

#inicioSesion{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-top: 3%;
    width: 100%;
}

.inputSesion{
    width: 500px;
}